<template>
    <div>
        <div class="card">
            <div class="transition bar" :class="{'show-button': isMouseEnter}">
                <div class="control-button"
                     >
                    <ui-icon-button
                            @click="updateCurrency"
                            icon="refresh"
                            size="large"
                            :loading="isLoad"
                            color="primary"
                            tooltip="Обновить">
                    </ui-icon-button>

                    <ui-icon-button
                            @click="deleteCurrency"
                            icon="delete"
                            size="large"
                            color="red"
                            tooltip="Удалить">
                    </ui-icon-button>

                    <ui-icon-button
                            @click="isMouseEnter = false"
                            icon="expand_less"
                            size="large"
                            tooltip="Убрать меню">
                    </ui-icon-button>
                </div>

                <div class="splitter"></div>

                <div @click="isMouseEnter = true">
                    <h3 ref="text" class="text" v-if="!isLoad">
                        {{ data.verbose_name }} {{ data.value }} {{ data.code.toUpperCase() }}
                    </h3>
                    <h3 ref="text" class="text" v-else>
                        Загрузка...
                    </h3>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  /* eslint-disable no-return-assign,no-undef,no-new */

  import UiIconButton from 'keen-ui/lib/UiIconButton'

  export default {
    name: 'currency-card',
    props: ['data'],
    components: {
      UiIconButton
    },

    data () {
      return {
        isMouseEnter: false,
        isLoad: false
      }
    },
    methods: {
      updateCurrency () {
        this.$emit('onUpdate', this.data, () => {
          setTimeout(() => this.isLoad = false, 250)
        })
        this.isLoad = true
        this.isMouseEnter = false
      },
      deleteCurrency () {
        this.$emit('onDelete', this.data)
      }
    }
  }
</script>

<style>
    .card {
        padding: 15px;
        margin: 5px;
        display: flex;

        flex-direction: column;

        background-color: #f2f2f2;
        border-radius: 5px;
        border: 0;

        overflow: hidden;

        height: 50px;
        min-width: 300px;
    }

    .show-button {
        transform: translate(0%, 3%) !important;
    }

    .splitter {
        height: 20px;
    }

    .bar {
        transform: translate(0%, -55%);
    }

    .card:hover {
        cursor: pointer;
        box-shadow:0 0 3px #00aaff;
    }

    .transition {
        transition: transform 200ms cubic-bezier(0.755, 0.060, 0.680, 0.530);
    }
</style>
