<template>
    <div class="card-container">
        <currency-card
                v-for="(currency, index) in data"
                :data="currency"
                :key="index"
                @onUpdate="onUpdate"
                @onDelete="onDelete">
        </currency-card>
        <div>
            <ui-button
                    @click="() => this.$refs.modal.open()"
                    class="add-button"
                    color="green"
                    icon="add">
                Добавить валюту
            </ui-button>
        </div>
        <ui-modal ref="modal" title="Добавление валюты" transition="fade">
            <div
                v-if="this.$store.getters.disabledCodes.length > 0"
                class="modal-height">
                <h3>Выберите валюту из списка и нажмите 'Добавить'.</h3>

                <ui-select
                        v-if="this.$store.getters.disabledCodes.length > 0"
                        placeholder="Выберите валюту"
                        :options="this.$store.getters.disabledCodes"
                        v-model="enableCode"
                        :multiple="true">
                </ui-select>
            </div>
            <div v-else>
                <h3>Все валюты добавлены</h3>
            </div>
            <div slot="footer">
                <ui-button
                        color="primary"
                        @click="addCurrency"
                        v-if="this.$store.getters.disabledCodes.length > 0">
                    Добавить
                </ui-button>
                <ui-button @click="() => this.$refs.modal.close()">Отменить</ui-button>
            </div>
        </ui-modal>
    </div>
</template>

<script>
  import store from '../store/app'
  import CurrencyCard from './CurrencyCard.vue'
  import UiButton from 'keen-ui/lib/UiButton'
  import UiModal from 'keen-ui/lib/UiModal'
  import UiSelect from 'keen-ui/lib/UiSelect'

  export default {
    components: {
      'currency-card': CurrencyCard,
      'ui-button': UiButton,
      'ui-modal': UiModal,
      'ui-select': UiSelect
    },
    store,

    data () {
      return {
        enableCode: ''
      }
    },

    computed: {
      data () {
        return this.$store.getters.data
      }
    },
    methods: {
      onUpdate (data, success) {
        this.$store.dispatch('updateByCode', {
          charCode: data.code,
          success: success
        })
      },
      onDelete (data) {
        this.$store.commit('deleteByCode', data.code)
      },
      addCurrency () {
        this.enableCode.map(code => this.$store.commit('addByCode', code))
        this.$refs.modal.close()

        this.enableCode = []
      }
    },
    mounted () {
      this.$store.dispatch('updateAllCurrency')
    },
    created () {
      setInterval(() => this.$store.dispatch('updateAllCurrency'), (1000 * 60 * 60 * 60 * 24))
    }
  }
</script>

<style scoped>
    .card-container {
        display: flex;
        flex-wrap: wrap;

        align-items: center;
        justify-content: center;
    }

    .add-button {
        padding: 15px;
        margin: 5px;
        border-radius: 5px;
        border: 0;

        height: 80px !important;
        min-width: 330px;
    }

    .modal-height {
        height: 200px;
    }
</style>
